.items__main-container {
    height: 60vh;
    width: 50vw;
    background-color: #C70039;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 85px rgb(199, 0, 57);

    .items__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 80%;

        .items__return {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            width: 40%;
            margin-bottom: 20px;

            button {
                height: 80%;
                width: 100px;
                border-radius: 40px;
                background-color: #ED983B;
                font-family: 'VT323', monospace;
                font-size: 20px;
                color: white;
                border: none;

                &:hover {
                    color: black;
                    cursor: pointer;
                }
            }
        }

        .items__loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30%;
            width: 30%;
        }

        .items__data-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70%;
            width: 70%;
            background-color: #ED983B;
            box-shadow: 0px 0px 85px rgb(193, 147, 18);
            border-radius: 30px;

            .items__data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div {
                    font-size: 40px;
                    font-weight: bold;
                }

                img {
                    height: 230px;
                    width: 230px;
                }

                .items__more {
                    font-size: 30px;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}